<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>
<!-- Include Head -->

<!-- Header -->
<%- include('partials/header') %>
<!-- /Header -->

<body>
    <div class="contenedor-pequeno producto-unico">
        <div class="fila">
            <div class="col-2" id="izq">
                <img src="/images/<%=listpro2.imagenPrincipal%>" width="100%" id="imgproducto" >
            </div>
            <div class="col-2">
                <p>Home / <%= listpro2.nombre %> </p>
                <h1><%= listpro2.nombre %></h1>
                <p> <%= listpro2.breveDescripcion %></p>
                <br>
                <% if(listpro2.idPlataforma==1) { %>
                    <p> Tamaño: Mediano</p>   
                    <% }else if(listpro2.idPlataforma==2){ %>
                        <p> Tamaño: Grande</p> 
                        <% }else if(listpro2.idPlataforma==3){ %>
                            <p> Tamaño: Pequeño</p> 
                            <% } %>
                <% if(listpro2.idCategoria==1) { %>
                <p> Sexo: Hembra</p>   
                <% }else{ %>
                    <p> Sexo: Macho</p> 
                    <% } %>
                <% if(listpro2.idConsola==1) { %>
                    <p> Raza: Labrador</p>   
                    <% }else if(listpro2.idConsola==2){ %>
                        <p> Raza: Pastor alemán</p> 
                        <% }else if(listpro2.idConsola==3){ %>
                            <p> Raza: Boxer</p> 
                            <% }else if(listpro2.idConsola==4){ %>
                                <p> Raza: Coker spaniel</p>
                                <% }else if(listpro2.idConsola==5){ %>
                                    <p> Raza: Pit Bull</p>
                                    <% }else if(listpro2.idConsola==6){ %>
                                        <p> Raza: Chihuahua</p>
                                        <% } %>   
                <br>
                <a href=# class="action-button">ADOPTAR</a>
                <% if (locals.logueado) { %> 
                    <% if (locals.user.idCategoriaU == 1) { %> 
                    <div class="buttons-ED">
                            <form action="/products/delete/<%=listpro2.idProductos %>" method="POST" style="display: inline-flex">
                                <a href="/products/edit/<%=listpro2.idProductos %> " class="action-button edit">EDITAR PUBLICACIÓN</a>
                                <button type="submit" class="action-button delete">ELIMINAR</button>
                            </form>
                    </div>
                    <% } %>
                <% } %>
            </div>

        </div>
    </div>
    <br>
    <br>
<div class="contenedor-pequeno">
    <div class="fila fila2">
        <h2 class="InfoProduct">INFORMACIÓN ADICIONAL</h2>
    </div>
    <br>
    <p class="InfoProduct"><%= listpro2.informacionAdicional%></p>
    <br>

</div>
<br>
<br>


<div class="contenedor-pequeno">
    <div class="fila fila7">
        <h2>MÁS LOMITOS</h2>
        <p>Ver más</p>
    </div>
</div>
<div class="contenedor-pequeno">
<div class="fila">
    <% let contador=0%>  
    <% listpro.forEach(art=> { %> 
        <% if(art.idCategoria==1) { %>
            <% if(contador<=3){%>
                <div class="col-4">
                    <a href="/products/detail/<%= art.idProductos %> " class="linkbox">
                        <section>
                            <img src="/images/<%= art.imagenPrincipal %> ">
                            <h4><%= art.nombre %> </h4>
                            <% contador = contador+1%>
                        </section>
                    </a>
                </div>
                <% }else{ %>
                    <% } %>
            <%}else{%>

                <% } %>
                 <% }) %>
</div>
</div>  
      
</body>
<footer>
  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer --> 
</footer>
</html>










<!--------- Cambio de imagenes---------->

<script>
   var imgproducto= document.getElementById("imgproducto");
   var imgpequena= document.getElementsByClassName("imagen-chiquita");

   imgpequena[0].onclick=function(){
       imgproducto.src=imgpequena[0].src;
   }
   imgpequena[1].onclick=function(){
       imgproducto.src=imgpequena[1].src;
   }
   imgpequena[2].onclick=function(){
       imgproducto.src=imgpequena[2].src;
   }
   imgpequena[3].onclick=function(){
       imgproducto.src=imgpequena[3].src;
   }
</script>

