<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('partials/head') %>
<!-- Include Head -->
  <body class="body-inicio">
    <!-- Header -->
	  <%- include('partials/header') %>
	  <!-- /Header -->
    <div class="contenedor-pequeno">
      <div class="fila fila7">
          <h2>Machos</h2>
          <p></p>
      </div>
  </div>
  <div class="contenedor-pequeno">
    <div class="fila">  
        <% listpro.forEach(art=> { %>
            <% if(art.idCategoria==2) {%>  
                    <div class="col-4">
                        <a href="/products/detail/<%= art.idProductos %> " class="linkbox">
                            <section>
                                <img src="/images/<%= art.imagenPrincipal %> ">
                                <h4><%= art.nombre %> </h4> 
                            </section>
                        </a>
                    </div>
                    <% }else{ %>
                        
                    <% } %>     
    
        
                     <% }) %>
    </div>
</div>   
  <div class="contenedor-pequeno">
    <div class="fila fila7">
        <h2>Hembras</h2>
        <p></p>
    </div>
</div>
<div class="contenedor-pequeno">
    <div class="fila">  
        <% listpro.forEach(art=> { %>
            <% if(art.idCategoria==1) {%>  
                    <div class="col-4">
                        <a href="/products/detail/<%= art.idProductos %> " class="linkbox">
                            <section>
                                <img src="/images/<%= art.imagenPrincipal %> ">
                                <h4><%= art.nombre %> </h4> 
                            </section>
                        </a>
                    </div>
                    <% }else{ %>

                    <% } %>     
    
        
                     <% }) %>
    </div>
</div>  
  </body>
  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer --> 
</html>