<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>
<!-- Include Head -->

 <!-- Header -->
 <%- include('partials/header') %>
 <!-- /Header -->

<!--Main-->
  <body>
    <section class="section-addProduct">
        <h1 class="title">Agregar Lomito</h1>
        <p class="banner-usuario"><em>Dar en adopción a un lomito</em></p>
        <div class="form-container addProduct">
            <form class="productform" method="POST" action="/products/addproduct" enctype="multipart/form-data">
                <p>
                    <label class="label-1">
                        Nombre del perro:
                        <input type="text" name="nombre" id="nombre" value="<%= locals.old && old.nombre %>" class='nombre'>
                    </label>
                </p>
                <% if (locals.errors && errors.nombre) { %>
                    <p class="msg-errores"><%= errors.nombre.msg %></p>
                <% } %>
                <p class='msg-errores' id='error1'></p>
                <p>
                    <label class="label-textarea">
                        Descripción del perro:
                        <textarea type="text" name="breveDescripcion" class='breveDescripcion'><%= locals.old && old.breveDescripcion %></textarea>
                    </label>
                </p>
                <% if (locals.errors && errors.breveDescripcion) { %>
                    <p class="msg-errores"><%= errors.breveDescripcion.msg %></p>
                <% } %> 
                <p class='msg-errores' id='error2'></p>               
                           
                <p>
                    <label class="label-2">
                        Tamaño:
                        <label class="label-radio">
                            <label class="select" for="PS">Grande</label>
                            <input type="radio" name="plataforma" value='2' <%= locals.old && old.plataforma == '2' ? 'checked' : null%> id='plat'>
                            <label class="select" for="Xbox">Mediano</label>
                            <input type="radio" name="plataforma" value='1' <%= locals.old && old.plataforma == '1' ? 'checked' : null %> id='plat'>
                            <label class="select" for="Nintendo">Pequeño</label>
                            <input type="radio" name="plataforma" value='3' <%= locals.old && old.plataforma == '3' ? 'checked' : null %> id='plat'>
                        </label>
                    </label>
                </p>
                <% if (locals.errors && errors.plataforma) { %>
                    <p class="msg-errores"><%= errors.plataforma.msg %></p>
                <% } %> 
                <p class='msg-errores' id='error5'></p> 
                <p>
                    <label class="label-2">
                        Raza:
                        <label class="label-radio">
                            <label class="select" for="PS5">Labrador</label>
                            <input type="radio" name="consola" value='1' <%= locals.old && old.consola == '1' ? 'checked' : null %> >
                            <label class="select" for="PS4">Pastor alemán</label>
                            <input type="radio" name="consola" value='2' <%= locals.old && old.consola == '2' ? 'checked' : null %>> 
                            <label class="select" for="XboxOne">Boxer</label>
                            <input type="radio" name="consola" value='3' <%= locals.old && old.consola == '3' ? 'checked' : null %>>
                            <label class="select" for="XboxSs">Coker spaniel</label>
                            <input type="radio" name="consola" value='4' <%= locals.old && old.consola == '4' ? 'checked' : null %>>
                            <label class="select" for="XboxSx">Pit Bull</label>
                            <input type="radio" name="consola" value='5' <%= locals.old && old.consola == '5' ? 'checked' : null %>>
                            <label class="select" for="NSwitch">Chihuahua</label>
                            <input type="radio" name="consola" value='6' <%= locals.old && old.consola == '6' ? 'checked' : null %>>
                        </label>
                    </label>
                </p>
                <% if (locals.errors && errors.consola) { %>
                    <p class="msg-errores"><%= errors.consola.msg %></p>
                <% } %>
                <p class='msg-errores' id='error6'></p>
                <p>
                    <label class="label-textarea">
                        Información Adicional:
                        <br>
                        <textarea name="informacionAdicional" placeholder="Si lo desea, escriba aquí la información adicional"></textarea>
                    </label>
                </p>
                <p>
                    <label class="label-select">
                        Sexo:
                        <select name="categoria" id="categoria">
                            <option value="">Elegir</option>
                            <option value='1'<%= locals.old && old.categoria == '1' ? 'selected' : null %> >Hembra</option>
                            <option value='2'<%= locals.old && old.categoria == '2' ? 'selected' : null %>>Macho</option>
                        </select>
                    </label>
                </p>
                <% if (locals.errors && errors.categoria) { %>
                    <p class="msg-errores"><%= errors.categoria.msg %></p>
                <% } %>
                <p class='msg-errores' id='error7'></p>
                <p>
                    <label class="label-file">
                        Imagen Principal  :
                        <input type="file" name="imagenPrincipal" id="fileInput"  class='fileInput' accept="image/png, .jpeg, .jpg, .gif"> 
                    </label>
                </p>
                <% if (locals.errors && errors.imagenPrincipal) { %>
                    <p class="msg-errores"><%= errors.imagenPrincipal.msg %></p>
                <% } %> 
                <p class='msg-errores' id='error8'></p>
                <p class="buttons">
                    <input class="action-button" type="submit" name="submit" value="Poner en adopción"/>
                 </p>
            </form>
        </div>
    </section>
</body>
    <%if (locals.errors){ %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    <%}%>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    
  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer --> 
  <script src="/javascripts/ValidacionProducts.js"></script>
</html>